
body {
  background-color: #001719;
}
.ccTitle {
  font-family: 'Rubik Mono One';
}

.btnBlue {
  background-color: #51A8B1;
  color: white;
  padding: 1rem 1.5rem;
  font-family: 'Rubik';
}

.btnBlue:hover {
  background-color: #A8CF45;
  color: white;
  padding: 1rem 1.5rem;
}


.btnGreen {
  background-color: #A8CF45;
  color: white;
  padding: 1rem 1.5rem;
}

.btnGreen:hover {
  background-color: #51A8B1;
  color: white;
padding: 1rem 1.5rem;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
   font-size: 2em;
   margin: 0.67em 0;
   color: #A8CF45;
  }

  h2 {
    font-family: 'Rubik';
  }
  
  .bg-brand {
    background-color: #001719;
  }

  .card-header {
    background-color: #51A8B1;
    font-family: 'Rubik Mono One';
    
  }

  .loginCard {
    background-color: #A8CF45;
  }

  .footer {
    color: white;
  }