
body {
  background-color: #001719;
}
.ccTitle {
  font-family: 'Rubik Mono One';
}

.btnBlue {
  background-color: #51A8B1;
  color: white;
  
  font-family: 'Rubik';
}

.btnBlue:hover {
  background-color: #A8CF45;
  color: white;
}


.btnGreen {
  background-color: #A8CF45;
  color: white;
  padding: 1rem 1.5rem;
}

.btnGreen:hover {
  background-color: #51A8B1;
  color: white;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
   font-size: 2em;
   margin: 0.67em 0;
   color: #A8CF45;
  }

  h2 {
    font-family: 'Rubik';
  }

  .todoLive {
    color: white;
    font-family: 'Rubik';
    border-style: solid;
    border-radius: 1rem;
    border-color: #51A8B1;
    padding: 1rem;
    margin: 1rem;
  }

  .welcomeMessage {
    text-align: center;
  }

  .welcome {
  font-size: 25px;
  color: #A8CF45;
  font-family: 'Rubik';
  font-weight: heavy;
  }

  .logOutBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    
  }

  .todoForm {
    align-items: center;
  }
  .areaText {
    width: 75%;
    height: 50%;
    
  }
  
  .bg-brand {
    background-color: #001719;
  }

  .card-header {
    background-color: #51A8B1;
    font-family: 'Rubik Mono One';
    
  }

  .loginCard {
    background-color: #A8CF45;
  }

  .footer {
    color: white;
    font-family: 'Rubik';
    margin: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    
  }

  .form-input {
    margin: 5px;
  }

  .card-body {
    text-align: center;
  }

  .todoStyle {
    color: white;
    font-family: 'Rubik';
  }

  h3 {
    font-family: 'Rubik Mono One';
    color: white;
  }

  @media only screen and(min-width: 460px) {
    .form-input{
      width: 80%!important;
    }
  }
